*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-text-font: 20px;
}

.header-container {
  background: black url(./../img/header-bg.png);
  width: 100vw;
  height: 47vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-section {
  display: block;
  color: whitesmoke;
  text-align: center;
}

.header-heading {
  font-size: 40px;
  padding-top: 120px;
  font-weight: 800;
}

.header-text {
  padding: 15px 50px;
  font-size: var(--main-text-font);
  line-height: 1.5em;
}

.header-btn {
  color: white;
  background-color: #333333;
  border: 1px solid white;
  padding: 20px 30px;
}

.header-btn:hover {
  color: black;
  background-color: white;
  border: 1px solid black;

}

.first-main-container {
  display: inline-block;
  background-color: white;
  padding: 40px 40px;
  font-size: 0px;
}

.first-main-header {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.first-main-text {
  display: inline-block;
  padding-top: 30px;
  width: 49%;
  text-align: center;
  font-size: var(--main-text-font);
}